body {
    font-family: sans-serif;
    background-color: #12421c;
    margin-top: 25px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.text-medium {
    font-size: 150%;
}

.bold {
    font-weight: bold;
}

.img-big {
    height: 150px;
}

